<div>
  <div class="text-white card mx-5" style="border: none; max-width: 95%; background-color: #101010;">
    <div class="bg-dark text-white card m-5" style="max-width: 95%;">
      <div class="card-body bg-dark text-center">
        <p class="m-0" style="background-color: #212529;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamcorper velit sed ullamcorper morbi tincidunt<a href="#formscroll" class="btn btn-success ms-3">Insert Photo</a></p>
      </div>
    </div>
  </div>
</div>

