<div class="collapse" id="navbarToggleExternalContent" >
  <div class="p-4">
    <h5 class="text-white h4"><a style="text-decoration: none; color: white;" routerLink="/">> Home</a></h5>
    <h5 class="text-white h4"><a style="text-decoration: none; color: white;" routerLink="/about-us">> About Us</a></h5>
  </div>
</div>
<div>
  <a routerLink="/"><img class="logo flex-start bg-dark mb-5" style="height: 100px; width: auto; border-radius: 3px;" src="../assets/logo.jpg" alt="Deep Green AI"></a> 
  <nav class="navbar navbar-dark bg-dark float-end p-0 mt-3">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>

