
<div>
  <div class="card mx-5 mb-5" style="color: white;">
    <div class="card-body">
      <h5 class="card-title">Nitya Kakulamarri</h5>
      <p class="card-text">A rising junior at Tesla STEM High School, is an active member in her community. She currently holds positions in various organizations and clubs where she aims to provide STEM exposure to many kids. She is a change-agent, and she hopes to continue helping the people around her through teaching and service.</p>
    </div>
  </div>
  <div class="card mx-5 mb-5" style="color: white;">
    <div class="card-body">
      <h5 class="card-title">Parker Allan</h5>
      <p class="card-text">Undergrad student from Western Governors University with a strong interest in app and embedded systems development.</p>
    </div>
  </div>
  <div class="card mx-5 mb-5" style="color: white;">
    <div class="card-body">
      <h5 class="card-title">Euijin Kang</h5>
      <p class="card-text">Undergrad student from Grinnell University interested in AI and machine learning.</p>
    </div>
  </div>
  <div class="card mx-5" style="color: white;">
    <div class="card-body">
      <h5 class="card-title">Kai Liu</h5>
      <p class="card-text">A highschool student passionate about physics and AI.</p>
    </div>
  </div>
</div>
